@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
